 #map {
  width: 80%;
  height: 400px;
  background-color: grey;
 }

 html {
  scroll-behavior: smooth;
 }

 body {
  background: url('../assets/images/background-travel-smaller.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

 .btn.btn-square {
  border-radius: 0;
  font-family: 'Montserrat', sans-serif;
  border-width: 5px;
  background-color: white;
 }

 .title {
  font-family: 'Cormorant', serif;
  top: calc(50% - 100px);
  /* 100px is half the height..*/
  position: absolute;
 }

 .city-name {
  font-family: 'Cormorant', serif;
 }

 h1 {
  text-align: center;
 }

 h2 {
  margin-top: 10vh;
  font-size: 18px;
 }

 .row {
  text-align: center;
 }

 .quiz {
  height: 95vh;
 }

 .map-section {
  height: 95vh;
 }

 .btn.input {
  width: 25vw;
  height: 10vh;
  font-size: 10px;
 }

 .input:active {
  background-color: yellow;
 }

 .btn.switch {
  font-size: 10px
 }

 .splash-page {
  height: 85vh;
 }

 .splash-bottom {
  height: 10vh;
 }

 .lets-go {
  height: 5vh;
  font-size: 10px;
 }

 .inspire {
  height: 5vh;
  margin-top: 50px;
  font-size: 10px;
  margin-bottom: 20px;
 }

 .bodycopy {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: calc(50% - 1px);
  margin-top: 40px;
 }

 #reveal-buttons {
  visibility: hidden;
  margin-top: 50px;
 }

 #book {
  visibility: hidden;
  margin-top: 50px;
 }


 /*Small devices (landscape phones, 576px and up)*/

 @media (min-width: 576px) {
  .title {
   font-size: 25px;

  }
  .city-name {
   font-size: 16px;
  }
  .btn.input {
   font-size: 10px
  }
  .btn.switch {
   font-size: 10px
  }
  .lets-go {
   font-size: 10px;
  }
  .inspire {
   font-size: 10px;
  }
  h2 {
   font-size: 12px;
  }
  .bodycopy {
   margin-top: 0px;
  }
 }

 /*Medium devices (tablets, 768px and up)*/

 @media (min-width: 768px) {
  .title {
   font-size: 70px;

  }
  .city-name {
   font-size: 30px;
  }
  .btn.input {
   font-size: 15px
  }
  .btn.switch {
   font-size: 15px
  }
  .lets-go {
   font-size: 17px;
  }
  .inspire {
   font-size: 17px;
  }
  h2 {
   font-size: 20px;
  }
  .bodycopy {
   font-size: 15px;
  }
 }

 /*Large devices (desktops, 992px and up)*/

 @media (min-width: 992px) {
  .title {
   font-size: 100px;

  }
  .city-name {
   font-size: 60px;
  }
  .btn.input {
   font-size: 20px
  }
  .btn.switch {
   font-size: 20px
  }
  .lets-go {
   font-size: 22px;
  }
  .inspire {
   font-size: 22px;
  }
  h2 {
   font-size: 24px;
  }
  .bodycopy {
   margin-top: 40px;
   font-size: 20px
  }
 }

 /*Extra large devices (large desktops, 1200px and up)*/

 @media (min-width: 1200px) {
  .title {
   font-size: 110px;

  }
  .city-name {
   font-size: 70px;
  }
  .btn.input {
   font-size: 20px
  }
  .btn.switch {
   font-size: 20px
  }
  .lets-go {
   font-size: 22px;
  }
  .inspire {
   font-size: 22px;
  }
  h2 {
   font-size: 24px;
  }
  .bodycopy {
   margin-top: 40px;
   font-size: 20px;
  }
 }





 /* font-family: 'Cormorant', serif;
   font-family: 'Montserrat', sans-serif;*/
 